body {
  background-color: #cdf6fb;
  font-family: Helvetica, arial, sans-serif;
  margin: 10px;
  padding: 0;
}

.container {
  max-width: 980px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  box-sizing: border-box;
}

.header {
  text-align: center;
}

.header p {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  color: #666;
  font-weight: bold;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #fa87db;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;

}

@media (min-width: 640px) {
  h1 {
    font-size: 80px;
  }
}

.hero-video {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  margin: 30px 0;
}

.hero-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.calendar-header {
  display: none;
}

.day {
  margin-bottom: 20px;
  border-bottom: solid 1px #f8bae7;
  padding-bottom: 20px;
  cursor: pointer;
}

.day.empty {
  border: none;
}

.date {
  color: #666;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.date:after {
  content: ':';
  display: inline-block;
}

@media (min-width: 1024px) {
  body {
    margin: 30px;
  }

  .calendar-header {
    display: block;
  }

  .row {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .day-header {
    color: #666;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
    text-align: center;
  }

  .day {
    width: 100px;
    height: 100px;
    width: 100px;
    height: 100px;
    border: solid 3px #f8bae7;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 250ms border-color linear;
  }

  .day:hover {
    border-color: #cdf6fb;
  }

  .day.empty {
    border-color: #fde4f6;
  }

  .date {
    display: block;
    font-size: 14px;
  }

  .date:after {
    display: none;
  }

  .event-name {
    font-size: 12px;
    font-weight: bolder;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
  }
  a:link {
    color: #cdf6fb;
  }
}
